#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20rem;
  text-align: center;
}
.list {
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  border-radius: 25%;
}

.ed{
  width: 150px;
}
.del{
  width: 150px;
  margin-top: 0.5rem;
}


input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  /* float: left; */
  font-size: 16px;
}

h2 {
  padding-top: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.active {
  background-color: yellow;
}

